*{
    margin: 0;
}
.hero-container{
    background-color: #FFF8F3;
    /* display: flex; */
    border: 1px solid #FFF8F3;
    width: 100%;
    height: 100%;
}
.nav-bar{
    /* background-color: #FFF8F3; */
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin: 51px 230px;

}
.last-3-links {
    /* align-self: flex-end; */
    /* border: 1px solid red; */
    display: flex;
}


.link-lists{
    /* border: 1px solid aquamarine; */
    display: flex;
    gap: 20px;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.link-lists .list-item a {
    font-family: "Open Sans", 'Times New Roman';
    font-size: regular;
    color: #474747;
}

.orange-background{
    border-radius: 5px;
    background-color: #FD6E0A;
    /* border: 0px; */
    
}

.hire-me{
    /* border: 1px solid red; */
    width: 150px;
    height: 64px;
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: #ffffff;
}

.name {
    font-family: "Open Sans", 'Times New Roman';
    font-weight:bolder;
    font-size:45px;
}

.letter-r{
    color: #FD6E0A;
}


.nav-bar .last-3-links li a {
    text-decoration: none;
}

.nav-bar .last-3-links li{
    list-style: none;
}

.hero-section{
    background-color: #FFF8F3;
    width: 100%;
    height: 1434px;
    display: flex;
    border: 1px solid red;
}
.hero-first-section{
    border: 1px solid red;
    width: 585px;
    height: 356px;
    
}

.first-line-hero{
    font-family: "Open Sans", 'Times New Roman';
    font-weight: 600;
    font-size: 45px;
    color: #474747;
}

.second-line-hero{
    font-family: "Open Sans", 'Times New Roman';
    font-weight: 700;
    font-size: 85px;
    
}

.third-line-hero{
    font-family: "Open Sans", 'Times New Roman';
    font-weight: 400;
    font-size:18;
    color: #757575 
}



.hero-second-section img{
    width: 250 px;
    height: 350px;
    border: 1px solid red;
}


.circle-background img {
    width: 100%;
    /* height: 100%; */
}

.download-cv{
    border: 0px;
    color: #FFFFFF;
    width: 200px;
    height: 64px;
    font-family: "Open Sans", 'Times New Roman';
    font-weight: 700;
    font-size: 20px;
}

.circle-background img{
    border: 1px solid red;
    

}
